[credential]
	helper = store
[user]
	email = thevahidal@gmail.com
	name = thevahidal
[core]
	editor = nvim
[init]
	defaultBranch = master
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[includeIf "gitdir:~/dev/karnameh/"]
  path = .gitconfig-karnameh
[includeIf "gitdir:~/dev/huma/"]
  path = .gitconfig-huma
[url "git@github.com:"]
	insteadOf = https://github.com/
